
p{ line-height: 1em; }
p:hover{ text-shadow: 0 0 10px blue;}
h3{
    color: #B0C4DE;
    margin: 0 0 .5em 0;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.1em;
    margin-left: 500px;
    margin-bottom: 20px;
}
h1 {color: #B0E0E6;
    font-weight: normal;
    line-height: 1.1em;
    margin: 0 0 .5em 0;}
h1:hover{  text-shadow: 0 0 10px blue;}
h2{ 
    padding-top: 200px;
    font-size: 1.5em; 
    color:#B0E0E6;
  }
a{
    color: #B0E0E6;
    text-decoration: none;
    border-style: none;
}
    a:hover,
    a:active{ text-decoration: none; }

body{
    font-family: arial; 
    font-size: 80%; 
    line-height: 1.2em; 
    width: 100%; 
    margin: 0; 
    background-image: url("../images/blue.jpg");
    background-repeat: no-repeat;
    background-size: 1500px;
}

#page{
 margin: 20px; 
 border-style: none;
}

/* or on different lines like below */
#logo{
    width: 35%;
    margin-top: 5px;
    font-family: georgia;
    display: inline-block;
    -webkit-transition: text-shadow 0.2s linear;
    -moz-transition: text-shadow 0.2s linear;
    -ms-transition: text-shadow 0.2s linear;
    -o-transition: text-shadow 0.2s linear;
    transition: text-shadow 0.2s linear;

}
/* but try and be as concise as possible */
#nav{
    width: 60%;
    display: inline-block;
    text-align: right;
    float: right;
}
    #nav ul{}
        #nav ul li{
            display: inline-block;
            height: 62px;
            padding-right: 30px;
            font-size: 15px;
            text-decoration: none;

        }
            #nav ul li a:not(#currentPage){
                color: #B0E0E6;
                text-decoration: none;
            }
            #nav ul li a:not(#currentPage):hover {
                
                color:white;
                box-shadow: 0px 0px 0px #666;
                font-size: 18px;
                text-decoration: none;
            }
            #nav ul li a:active{ color: grey;
            text-decoration: none; }

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #F0F8FF;
    padding: 20px;
}

#currentPage
{
    color:grey;
}

}
#footer{
    padding-top: 50px;
    padding-bottom: 50px;
    
}
#footer p{
        padding-top: 100px;
        text-align: right;
        text-transform: uppercase;
        font-size: 80%;
        color: #B0C4DE;
    }
#footer p:hover
    {
        color: black ;
    }